body {
  margin: 0;
}

header {
  /* background-color: goldenrod; */

  & nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & li {
      padding: .5em;
      border-radius: .5em .5em 0 0 ;
      flex: 1 0;
      text-align: center;

      &.active {
        background-color: bisque;
        
      }

      &:hover {
        background-color: goldenrod;
      }
    }
  }
}

main {
  padding: 1em;
  background-color: azure;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #9fc8f7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}